form {
    input {
        width:100%;    
    }
    .input-text {
        padding: 15px;
        border: none;
        background-color: #f4f0f0;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .input-submit {
        padding: 15px;
        border: none;
        background-color:#ff0303;
        font-size: 13px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 30px;
    }
}